.job-full-bg {
  background-color: black;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* .header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
} */

.job-inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 10px;
}

.job-inner-bg {
  position: fixed;
  padding-left: 20px;
  padding-top: 20px;
}

.part2 {
  margin-left: 20%;
  width: 80%;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: auto;
  max-height: 90vh;
}

.search-bar {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.search1 {
  height: 40px;
  width: 300px;
  background-color: transparent;
  border: 1px solid #7e858e;
  padding-left: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white;
  outline: 0;
}

.search-icon {
  color: white;
  height: 40px;
  font-size: 17px;
}

.btn-search {
  background-color: #272727;
  border: 1px solid #7e858e;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 40px;
  width: 50px;
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

.jobs-ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  margin-top: 40px;
}

.s1 {
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 100px;
}
